@import 'tailwindcss';
@plugin "@tailwindcss/typography";

/* TODO Corrigir warnings */

@theme {
  --font-sans: 'Montserrat', sans-serif;

  --color-main: #d9d9d9;
  --color-primary: #0d1b2a;
  --color-hover: #ff4f8c;
  --color-border: #1b263b;
  --color-muted: #3d3d3d;

  --color-dark-main: #030712;
  --color-dark-primary: #ffffff;
  --color-dark-hover: #00bac9;
  --color-dark-border: #1b263b;
  --color-dark-muted: #dbdbdb;

  --breakpoint-desktop: 1170px;
}

@layer components {
  .prose-custom {
    @apply prose;
  }

  .prose-custom
    :is(
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      a,
      strong,
      em,
      code,
      blockquote,
      li,
      th,
      td,
      figcaption,
      pre
    ) {
    color: var(--color-primary);
  }

  body {
    background-color: var(--color-main);
    color: var(--color-primary);
  }

  body.dark {
    --color-main: var(--color-dark-main);
    --color-primary: var(--color-dark-primary);
    --color-border: var(--color-dark-border);
    --color-hover: var(--color-dark-hover);
    --color-muted: var(--color-dark-muted);
  }
}

header,
aside,
main {
  border: 1px solid var(--color-border);
}
