@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Montserrat', sans-serif;

  --color-main: #f2f7f5;
  --color-primary: #2e2e3a;
  --color-hover: #ff6ec7;
  --color-border: #c8c8c8;
  --color-muted: #656565;
  --color-scroll: #00000020;

  --color-dark-main: #1a1a1d;
  --color-dark-primary: #f0f0f0;
  --color-dark-hover: #ff9de2;
  --color-dark-border: #393646;
  --color-dark-muted: #a6a6a6;
  --color-dark-scroll: #ffffff33;

  --breakpoint-desktop: 1170px;
  --breakpoint-mobile: 240px;
}

@layer components {
  .prose-custom {
    @apply prose;
  }

  .prose-custom
    :is(
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      a,
      strong,
      em,
      code,
      blockquote,
      li,
      th,
      td,
      figcaption,
      pre
    ) {
    color: var(--color-primary);
  }

  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    overflow-x: hidden;
    background-color: var(--color-main);
    color: var(--color-primary);
  }

  body.dark {
    --color-main: var(--color-dark-main);
    --color-primary: var(--color-dark-primary);
    --color-border: var(--color-dark-border);
    --color-hover: var(--color-dark-hover);
    --color-muted: var(--color-dark-muted);
  }

  *:hover {
    transition: all 0.01s ease;
  }

  ::-webkit-scrollbar {
    width: 6px;
    background: var(--color-main);
  }

  ::-webkit-scrollbar-track {
    background: var(--color-main);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-border);
  }

  .disabled {
    color: #a0a0a0;
    cursor: not-allowed;
    text-decoration: none;
    pointer-events: none;
    opacity: 0.7;
  }

  html.no-scroll,
  body.no-scroll {
    overflow-y: hidden;
    height: 100vh;
  }

  .no-scroll main {
    overflow-y: hidden;
  }
}
