---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import TagCard from '../../components/TagCard.astro';

const allPosts = await getCollection('blog');
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())]
  .sort()
  .map(
    (tag) => (tag as string).charAt(0).toUpperCase() + (tag as string).slice(1)
  );
---

<BaseLayout title="Ãndice de Tags">
  <div class="flex-1 flex flex-col justify-center items-center">
    {tags.map((tag) => <TagCard tag={tag} />)}
  </div>
</BaseLayout>
