---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title="Início - Blog">
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.id}/`}>
            <h4 class="title">{post.data.title}</h4>
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
