---
import { Icon } from 'astro-icon/components';

const { class: classes, size: size, ...rest } = Astro.props;
---

<div id="social" class={classes} {...rest}>
  <a href="https://github.com/ceanjr" aria-label="GitHub profile">
    <Icon name="github" class=`hover:text-hover ${size}` />
  </a>
  <a
    href="https://www.instagram.com/celiojunior_2"
    aria-label="Instagram profile"
  >
    <Icon name="instagram" class=`hover:text-hover ${size}` />
  </a>
  <a href="/" aria-label="LinkedIn profile" class="disabled">
    <Icon name="linkedin" class=`hover:text-hover ${size}` />
  </a>
</div>
