---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Aside from '../components/Aside.astro';

import { Lightbulb } from '@lucide/astro';
import { Icon } from 'astro-icon/components';

const { title } = Astro.props;
---

<html lang="pt-BR">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="UTF-8" />
    <title>{title}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="dark">
    <div
      class="grid grid-cols-1 grid-rows-[auto_1fr_auto] desktop:grid-cols-[310px_1fr_48px] desktop:grid-rows-none min-h-screen"
    >
      <Header class="flex flex-col items-center py-16">
        <div id="profile" class="flex flex-col items-center mb-18">
          <img
            src="/images/perfil.jpeg"
            alt="Foto de Célio Júnior"
            class="rounded-full w-24 h-24 mb-4"
          />
          <h3 class="text-xl mb-1">Célio Júnior</h3>
          <p class="text-center text-xs text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
            ullamcorper sodales justo, sed vulputate metus tincidunt nec.
          </p>
        </div>
        <nav class="flex flex-col gap-3 text-center text-lg">
          <a class="hover:text-hover font-medium" href="/">Início</a>
          <a class="hover:text-hover font-medium" href="/about">Sobre</a>
          <a class="hover:text-hover font-medium" href="/tags">Tags</a>
          <a class="hover:text-hover font-medium" href="/laboratory"
            >Laboratório</a
          >
        </nav>

        <div id="social" class="flex gap-4 mt-auto">
          <a href="/"
            ><Icon name="github" class="text-2xl hover:text-hover" /></a
          >
          <a href="/"
            ><Icon name="instagram" class="text-2xl hover:text-hover" /></a
          >
          <a href="/"
            ><Icon name="linkedin" class="text-2xl hover:text-hover" /></a
          >
        </div>
      </Header>
      <main>
        <slot />
      </main>
      <Aside class="flex flex-col-reverse items-center py-4">
        <i class="cursor-pointer" id="toggle-theme">
          <Lightbulb />
        </i>
      </Aside>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const toggle = document.getElementById('toggle-theme');
        toggle.addEventListener('click', () => {
          document.body.classList.toggle('dark');
        });
      });
    </script>
  </body>
</html>
