---
import '../styles/global.css';
import Header from '../components/Header.astro';

const { title } = Astro.props;
---

<html lang="pt-BR">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="UTF-8" />
    <title>{title}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <slot />
    <!-- TODO Criar barra lateral -->
  </body>
</html>
